@import 'swiper/css/bundle';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-transparent bg-opacity-0 rounded-full;
    backdrop-filter: blur(4px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

.underline-orange::after {
    content: '';
    display: block;
    width: 100%;
    height: 16px;
    background-color: #FF8C00;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -99;
    border-radius:2px;;
}

.underline-redRiung::after {
    content: '';
    display: block;
    width: 100%;
    height: 16px;
    background-color: #dc7477;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -99;
    border-radius:2px;;
}


.underline-blueRiung::after {
    content: '';
    display: block;
    width: 100%;
    height: 16px;
    background-color: #1d66a6;
    position: absolute;
    bottom: 4px;
    left: 0;
    z-index: -99;
    border-radius:2px;;
}


.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item  {
    color: #000000;
    user-select: none; 
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-in-out forwards;
}

.delay-150 {
    animation-delay: 150ms; 
}

.gradient-text {
    color: white; /* Tetapkan warna teks menjadi putih sebelum dihover */
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(29, 102, 166, 1) 50%, rgba(236, 109, 116, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text; /* Untuk mendukung Safari */
    transition: color 0.3s ease, background-position 0.3s ease; /* Animasi transisi untuk warna dan background */
    background-size: 200% 200%; /* Memungkinkan animasi bergerak */
}

.gradient-text:hover {
    color: transparent; /* Ubah warna teks menjadi transparan saat dihover */
    background-position: 100% 0; /* Menggerakkan posisi gradient saat dihover */
}